[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "external/seastar"]
	path = external/seastar
	url = https://github.com/scylladb/seastar
	branch = seastar-20.05-branch
